@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body {
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}

/* header related styles */
header {
  max-width: 1600px;
}
.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(8, 11, 31, 0.4),
      rgba(4, 3, 12, 0.3)
    ),
    url("../resources/banner/Banner Image.png");
  height: 600px;
  width: 1320px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 50px 120px 0 120px;
  border-radius: 16px;
}
.banner-content {
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 177px 500px 0 500px;
}
.banner-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  padding: 0 344px 177px 344px;
  margin-top: -25px;
}
.hny {
  width: 803px;
  height: 1000px;
  background: #fff;
  text-align: center;
  padding: 120px 399px 50px 399px;
}
.discount {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}

.hny-content {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-top: 48px;
  padding-bottom: 16px;
}
.hny-categorytag {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.hny-photo {
  width: 802.9px;
  height: 500px;
}
/* midnight section */
.midnight {
  background-image: linear-gradient(
      to right,
      rgba(10, 14, 31, 0.938),
      rgba(255, 244, 83, 0.1)
    ),
    url("../resources/banner/Vectorrr.png");
  height: 600px;
  width: 1320px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 50px 120px 120px 120px;
  border-radius: 16px;
  display: flex;
}
.midnight-left {
  padding-left: 126px;
  width: 700px;
}
.midnight-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  padding-top: 126px;
}
.midnight-content {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.midnight-join {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 32px;
}
.midnight-right {
  padding-top: 68px;
  padding-left: 38px;
}
/* simple section styles */
.simple {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  margin: 0 120px 0 120px;
  text-align: center;
}
.simple-text-wrape {
  text-align: center;
}
.text32 {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.red {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px; /* 175% */
}
.btn-join {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #f00;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border: 0;
}
/* year 2024 */
.year2024 {
  width: 1320px;
  height: 463px;
  display: flex;
  justify-content: space-between;
  padding: 0 120px 120px 120px;
}
.year2024-left {
  margin: auto;
}
.year2024-left-alert {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.year2024-left-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.year2024-left-content {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 393px;
}
.year2024-middle {
  width: 463px;
  height: 463px;
  border-radius: 50%;
  border: 15px solid #f00;
}
.year2024-middle img {
  margin: 49.08px;
}
.year2024-right {
  margin: auto;
}
.year2024-right-title {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.year2024-right-content {
  width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
/* card design styles */
.card-wrap {
  width: 1320px;
  height: 1163px;
  padding: 0 120px 120px 120px;
}
.card-wrap-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: -20px;
}
.card-wrap-content {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-top: -30px;
}
.card-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.card-item {
  flex-wrap: wrap;
  width: 424px;
  height: 450px;
  border-radius: 16px;
}
.card-item:hover {
  box-shadow: 8px 5px rgba(4, 42, 114, 0.801);
}
